*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/assetWizardSettings.xml
.idea/caches/
.idea/codeStyles/
.idea/mosc
.idea/misc.xml
.idea/runConfigurations.xml
README
docs
libs/
sample/
.idea/gradle.xml
